.form-label{
    font-size: 1.4rem;
    font-weight: bolder;
}
.colorPic{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
#colorpick{
    margin-left: 10px;
    width:33px;
    border:none;
}
.text-color{
    color:white;
}